# Chapter 5. DataFrame 구조 다루기

In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 60)

In [2]:
# csv 데이터 읽어오기
data_path = './data/Learning-Pandas-Second-Edition-master/data/sp500.csv'

sp500 = pd.read_csv(data_path,
                    index_col = ['Symbol'],
                    usecols = [0, 2, 3, 7])

### 컬럼명 변경

In [28]:
sp500.loc[:, ['Sector', 'Book Value']]

                        Sector  Book Value
Symbol
MMM                Industrials      26.668
ABT                Health Care      15.573
ABBV               Health Care       2.954
ACN     Information Technology       8.326
ACE                 Financials      86.897
...                        ...         ...
YHOO    Information Technology      12.768
YUM     Consumer Discretionary       5.147
ZMH                Health Care      37.181
ZION                Financials      30.191
ZTS                Health Care       2.150

[500 rows x 2 columns]