In [1]:
import datetime
import numpy as np
import pandas as pd

# 날짜 정보 추출

In [ ]:
print(datetime.date(2024, 4, 30)) # 날짜
print(datetime.time(11, 23, 30)) # 시간
print(datetime.datetime(2024, 4, 30, 11, 23, 30)) # 날짜 + 시간

2024-04-30
11:23:30
2024-04-30 11:23:30

In [6]:
print(datetime.datetime.now())
print(datetime.datetime.today())

2024-04-30 11:18:12.484617
2024-04-30 11:18:12.484617
2024-04-30

In [46]:
now = datetime.datetime.now()

p = f'''
now = {now}
type(now) = {type(now)}

datetime 객체를 구성하는 메서드
ymd = {now.year, now.month, now.day}
weekday = {now.weekday()} | {now.isoweekday()} # weekday는 월요일을 0으로, isoweekday는 월요일을 1으로 계산
weeks_info = {now.isocalendar()} # 해당 날짜가 1년 중 몇주차인지를 계산
'''

print(p)

now = 2024-04-30 11:30:34.113592
type(now) = <class 'datetime.datetime'>

datetime 객체를 구성하는 메서드
ymd = (2024, 4, 30)
weekday = 1 | 2 # weekday는 월요일을 0으로, isoweekday는 월요일을 1으로 계산
weeks_info = datetime.IsoCalendarDate(year=2024, week=18, weekday=2)

### 날짜 데이터 타입

In [61]:
# datetime
print(type(datetime.datetime(2024, 4, 30)), datetime.datetime(2024, 4, 30), datetime.datetime.fromisoformat('20240430'))

# numpy
print(type(np.datetime64('20240430')), np.datetime64('20240430'))

# pandas
print(type(pd.Timestamp(2024, 4, 30)), pd.Timestamp(2024, 4, 30), pd.to_datetime('20240430'))

<class 'datetime.datetime'> 2024-04-30 00:00:00 2024-04-30 00:00:00
<class 'numpy.datetime64'> 20240430
<class 'pandas._libs.tslibs.timestamps.Timestamp'> 2024-04-30 00:00:00 2024-04-30 00:00:00

In [75]:
# datetime
print(type(datetime.timedelta(days = 5)), datetime.timedelta(days = 5))

# numpy
print(type(np.timedelta64(5, 'D')), np.timedelta64(5, 'D'))

# pandas
print(type(pd.Timedelta(days = 5)), pd.Timedelta(days = 5), pd.Timedelta(5, unit = 'days'))

<class 'datetime.timedelta'> 5 days, 0:00:00
<class 'numpy.timedelta64'> 5 days
<class 'pandas._libs.tslibs.timedeltas.Timedelta'> 5 days 00:00:00 5 days 00:00:00

# 날짜 타입 변환

https://ellun.tistory.com/320

In [119]:
# datetime <-> numpy <-> pandas
now_date = datetime.datetime.now()
print(type(now_date), now_date)

now_date_to_np = np.datetime64(now_date)
print(type(now_date_to_np), now_date_to_np)

# numpy 데이터 타입에서 datetime으로 바로 변환하는 것은 어렵다. pandas를 거쳐서 진행하면 수월
now_np_to_pd = pd.to_datetime(now_date_to_np)
print(type(now_np_to_pd), now_np_to_pd)
now_pd_to_date = datetime.datetime(year = now_np_to_pd.year, month = now_np_to_pd.month, day = now_np_to_pd.day,
                                   hour = now_np_to_pd.hour, minute = now_np_to_pd.minute, second = now_np_to_pd.second)
print(type(now_pd_to_date), now_pd_to_date)

<class 'datetime.datetime'> 2024-04-30 16:05:21.426364
<class 'numpy.datetime64'> 2024-04-30T16:05:21.426364
<class 'pandas._libs.tslibs.timestamps.Timestamp'> 2024-04-30 16:05:21.426364
<class 'datetime.datetime'> 2024-04-30 16:05:21

# 날짜 연산

### Timedelta

시간 데이터 간의 연산을 하기 위해서는 timedelta 자료형식이 필요하다.

In [16]:
print(type(datetime.timedelta()))
print(datetime.timedelta())

<class 'datetime.timedelta'>
0:00:00

In [23]:
'''
다양한 인자로 시간 정보를 입력할 수 있다.
하지만 입력 단위는 다양하지만, 내부적으로 해당 값들은 days | seconds | microseconds 로 변환되어 저장된다.
'''
td = datetime.timedelta(
                        weeks = 1,
                        days = 10,
                        hours = 23,
                        minutes = 30,
                        seconds = 90,
#                         milliseconds = 10,
#                         microseconds = 10
)
print(type(td), td)
print(type(td.days), td.days)
print(type(td.seconds), td.seconds)
print(type(td.microseconds), td.microseconds)

<class 'datetime.timedelta'> 17 days, 23:31:30
<class 'int'> 17
<class 'int'> 84690
<class 'int'> 0

In [40]:
'''
datetime 과 datetime 간의 연산 => timedelta : 시각과 시각 사이의 시간을 구하는 연산 => 결과값은 시간
datetime 과 timedelta 간의 연산 => datetime : 시각에서 특정 시간을 연산한 시각을 구하는 연산 => 결과값은 시각
timedelta 와 timedelta 간의 연산 => timedelta : 시간과 시간 사이의 시간을 구하는 연산 => 결과값은 시간
'''

# datetime - datetime
dt1 = datetime.datetime(2024, 5, 10, 12, 0)
dt2 = datetime.datetime(2024, 5, 10, 8, 0)
diff = dt1 - dt2
p = f'''
    type(diff) = {type(diff)}
    diff = {diff}
    diff.days = {diff.days}
    diff.seconds = {diff.seconds}
'''
print(p)

# datetime - timedelta
df1 = datetime.datetime(2024, 5, 10, 12, 0)
td = datetime.timedelta(hours = 4)
diff = df1 - td
p = f'''
    type(diff) = {type(diff)}
    diff = {diff}
'''
print(p)

# timedelta - timedelta
td1 = datetime.timedelta(hours = 4)
td2 = datetime.timedelta(hours = 8)
diff = td2 - td1
p = f'''
    type(diff) = {type(diff)}
    diff = {diff}
    diff.days = {diff.days}
    diff.seconds = {diff.seconds}
'''
print(p)

    type(diff) = <class 'datetime.timedelta'>
    diff = 4:00:00
    diff.days = 0
    diff.seconds = 14400


    type(diff) = <class 'datetime.datetime'>
    diff = 2024-05-10 08:00:00


    type(diff) = <class 'datetime.timedelta'>
    diff = 4:00:00
    diff.days = 0
    diff.seconds = 14400

### 형식 변환

시간 데이터를 다루다보면, 다양한 데이터 타입의 시간 값을 원하는 형태로 바꿔야 할 일이 자주 생긴다.

In [51]:
td = datetime.timedelta(hours = 32, minutes = 30)
print(td)

# HH:MM 형태로 바꾸기 위해서는? 따로 기능이 제공되지는 않고, 연산을 통해 구한다.
total_seconds = td.total_seconds()

h, s = map(int, divmod(total_seconds, 3600))
m, s = map(int, divmod(s, 60))
print(f'{h:02d}:{m:02d}:{s:02d}')

1 day, 8:30:00
32:30:00